@using Web.Manager.WebManager.Entity
@model AIDB.Models.Subchannel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "编辑推广平台渠道";
}
@await Html.PartialAsync("_nav", new WebManager.Core.Entity.NavigationModel("推广平台", "推广平台渠道管理", "编辑推广平台渠道", true))
<style>
    .edit-group-label {
        width: 220px;
    }
</style>
<div class="row bgwhitebox10 mymgb15">
    <div class="mysearchbox">
        <label>编辑推广平台渠道</label>
        <div class="mycl"></div>
    </div>
    <div class="row mt30 mtop15">
        <input type="hidden" id="ID" name="ID" value="@Model.Id" />
        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>推广平台渠道名称：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="SubChannelName" name="SubChannelName" type="text" value="@Model.SubChannelName" />
                </div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>渠道地址URL：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="AddressURL" name="AddressURL">@Model.AddressUrl</textarea>
                </div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>模拟提交数据包（COOKIE）：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="AnalogPacket" name="AnalogPacket">@Model.AnalogPacket</textarea>
                </div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">账号：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="UserName" name="UserName" type="text" value="@Model.UserName" maxlength="400" />
                </div>
            </div>
        </div>
        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">密码：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="UserPwd" name="UserPwd" type="text" value="@Model.UserPwd" maxlength="400" />
                </div>
            </div>
        </div>


        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">备注：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="Remark" name="Remark" maxlength="400">@Model.Remark</textarea>
                </div>
            </div>
        </div>


        <div class="row" style="margin:20px 0px;">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"></label>
                <div class="col-sm-8">
                    <button id="btn_save" class="btn btn-primary">提交</button>
                    <button id="btn_cancel" class="btn btn-warning" onclick="history.go(-1)">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section JsExtend{
    <script type="text/javascript" src="@HtmlExtention.GetUrlContent("/Scripts/page/subchannel/edit.js")"></script>
}

