@using Web.Manager.WebManager.Entity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "添加文章";
}
@await Html.PartialAsync("_nav", new WebManager.Core.Entity.NavigationModel("发帖管理", "文章管理", "添加", true))
<style>
    .edit-group-label {
        width: 220px;
    }
</style>
<div class="row bgwhitebox10 mymgb15">
    <div class="mysearchbox">
        <label>添加文章</label>
        <div class="mycl"></div>
    </div>
    <div class="row mt30 mtop15">
        @*<div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>平台：</label>
                <div class="col-sm-5">

                    <select id="MenuPid" name="MenuPid" onclick="PostContent.loadSubData()">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id"> @item.PlatformName </option>
                        }
                    </select>
                </div>
                <div class="mycl"></div>
            </div>
        </div>>*@

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>发送渠道：</label>
                <div class="col-sm-5">

                    <select id="MenuSub" name="MenuSub" style="min-width:200px; width:100%;">
                        <option value="">--请选择渠道--</option>
                    </select>
                </div>
                <div class="mycl"></div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>标题(标题长度应该在5-30字之间)：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="MsgTitle" name="MsgTitle" type="text" value="" maxlength="30" />
                </div>
            </div>
        </div>


        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>作者：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="MsgAuthor" name="MsgAuthor"></textarea>
                </div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>发帖类型：</label>
                <div class="col-sm-5 radio-pad">
                    <label><input type="radio" value="0" name="MsgType" class="RoleStatus" /> 文本</label>
                    &nbsp;&nbsp;&nbsp;
                    <label><input type="radio" value="1" name="MsgType" class="RoleStatus" /> 图片</label>
                    &nbsp;&nbsp;&nbsp;
                    <label><input type="radio" value="2" name="MsgType" class="RoleStatus" /> 视频</label>
                    &nbsp;&nbsp;&nbsp;
                    <label><input type="radio" value="3" name="MsgType" class="RoleStatus" checked /> 文本+图片+视频</label>
                </div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>PY脚本地址：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="PYScript" name="PYScript">@ViewBag.pyscript</textarea>
                </div>
            </div>
        </div>

        <div class="row rowmb5">
            <div class="col-md-12">
                <label class="col-sm-2 edit-group-label"><span class="spanrequired">*</span>首页头图：</label>
                <div class="col-md-7">
                    <form action="" name="formurl" method="post" enctype="multipart/form-data">
                        <div style="position:relative;width:300px;height:300px">
                            <label style="background:url(/Content/images/icon/up.png) no-repeat  center;background-size:50%;display:none;position:absolute;top:50%;left:50%;height:100px;width:100px;transform:translate3d(-50px,-50px,0)" id="imgspan"></label>
                            <input type="file" id="ImgUrl" name="ImgUrl" value="" style="display:none;position:absolute;top:150px;left:50px;">
                            <input type="hidden" value="" id="ImgUrl_hidden" />
                            <img id="showImg" style="width: 300px;height: 300px;opacity:0.5;" src="../../Content/images/photo3.jpg">


                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">服务器物理图片地址：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="serverFilePath" name="serverFilePath" style="height:100px;" disabled></textarea>
                </div>
            </div>
        </div>



        <div class="row rowmb5">
            <div class="col-md-12">
                <label class="col-sm-2 edit-group-label"><span class="spanrequired">*</span>内容：</label>
                <div class="col-md-7">
                    <!--style给定宽度可以影响编辑器的最终宽度-->
                    <script type="text/plain" id="myEditor" style="width:1000px;height:240px;">
                        <p>这里我可以写一些输入提示</p>
                    </script>
                </div>
            </div>
        </div>


        <div class="row" style="margin:20px 0px;">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"></label>
                <div class="col-sm-8">
                    <button id="btn_save" class="btn btn-primary">提交</button>
                    <button id="btn_cancel" class="btn btn-warning" onclick="history.go(-1)">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section CSSExtend{
    <link href="@HtmlExtention.GetUrlContent("/Scripts/plugins/umeditor/themes/default/css/umeditor.css")" rel="stylesheet" />
    <style type="text/css">
        .edui-container * {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

            .edui-container *:before, .edui-container *:after {
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
            }
    </style>
}
@section JsExtend{

    <script type="text/javascript" src="@HtmlExtention.GetUrlContent("/Scripts/plugins/umeditor/umeditor.config.js")"></script>
    <script type="text/javascript" src="@HtmlExtention.GetUrlContent("/Scripts/plugins/umeditor/umeditor.js")"></script>
    <script type="text/javascript" src="@HtmlExtention.GetUrlContent("/Scripts/page/PostContent/add.js")"></script>
}

